
<div class="container">
    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Category</h1>
        <div class="list-group">
        <% @categories.each do |category| %>
            <%= link_to "#{category.name}", products_path(category_id: category.id), :remote => true , class: "list-group-item"%>
          <% end %>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <%= form_with(model: Product, method: :get, :remote => true, :html => { :id => 'new-product-form' }) do %>
        <div class="input-group">
            <div class="field">
                <%= search_field_tag :min, params[:min], placeholder: "min", class: "form-control" %>
            </div>
            <div class="field">
                <%= search_field_tag :max, params[:max], placeholder: "max", class: "form-control" %>
            </div>
            <%# <%= select_tag :brand_id, options_for_select(Brand.all, selected: params[:brand_id]) %>
            <%# <%= options_for_select(cities_array) %>
            <% brands_array = Brand.all.map { |brand| [brand.name, brand.id] } %>
            <%= select_tag :brand_id, options_for_select(brands_array,params[:brand_id]), {:include_blank => "brand"} %>

            <% categories_array = Category.all.map { |category| [category.name, category.id] } %>
            <%= select_tag :category_id, options_for_select(categories_array,params[:category_id]), {:include_blank => "category"} %>
            <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
            <div class="input-group-btn">
                <%= button_tag "search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
            </div>

        </div>
        <% end %>

        <div class="row mt-4" id="products">
            <%= render @products %>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  </div>
