
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                  <% if !product.image.attached? %>
                      <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                  <% else %>
                      <%= image_tag(product.image, :class=>"card-img-top")if product.image.attached?%>
                  <% end %>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to( "#{product.title}".html_safe,
                    product_path(product.id), # TODO hardwired
                    'data-popup' => true,
                    :controller => 'products',
                    :action => 'show',
                    remote: true,
                    'data-toggle' => "modal", 
                    'data-target' => '#modal-window'
                    ) %><br>
                  </h4>
                  <h5><%= product.price %> $</h5>
                  <p class="card-text"><%= product.description %></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">★ ★ ★ ★ ☆</small>
                  <div class="d-flex justify-content-end bd-highlight mb-3">
                      <div class="p-3 bd-highlight">
                        <% if !@shoppingCarts.empty? %>
                          <% @shoppingCarts.each do |cart| %>
                            <% if cart.product_id == product.id %>
                              <%= button_to "Add to Cart", cart, :method => :delete , class: "btn btn-danger", id: "cart#{product.id}" %>
                              <% break %>
                            <% end %>
                            <% if @shoppingCarts.last == cart %>
                            <%= button_to "Add to Cart", shopping_carts_path(product_id: product.id, quantity: 1), :method => :post , class: "btn btn-primary", id: "cart#{product.id}" %>
                            <% end %>
                          <% end %>
                        <% else %>
                          <%= button_to "Add to Cart", shopping_carts_path(product_id: product.id, quantity: 1), :method => :post , class: "btn btn-primary", id: "cart#{product.id}" %>
                        <% end %>
                      </div>
                  </div>
                </div>
              </div>
            </div>
  