<div class="container my-5">
    <div class="row justify-content-center">

        <div class="card" style="width: 25rem;">
            <%= image_tag(@product.image,:size=>"300x200", :class=>"card-img-top")if @product.image.attached?%>
            <div class="d-flex justify-content-between bd-highlight py-2">
                <div class="p-2 bd-highlight"><small><strong>Category: </strong><%= @product.category.name %></small></div>
                <div class="p-2 bd-highlight"><small><strong>Brand: </strong><%= @product.brand.name %></small></div>
            </div>
            <div class="card-body">
            <h5 class="card-title text-center bg-dark text-white"><strong><%= @product.title %></strong></h5>
            <p class="card-text bg-light"><%= @product.description %></p>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="d-flex justify-content-between bd-highlight py-2">
                        <div class="p-2 bd-highlight btn-info"><strong>CURRENT PRICE: </strong><%= @product.price %></div>
                        <div class="p-2 bd-highlight btn-warning"><strong>Stock: </strong><%= @product.in_stock_quantity %></div>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>

