<!DOCTYPE html>
<html>
  <head>
    <title>ITIEcommerceRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to "logo", root_path, :class=>"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to "Home", root_path, :class=>"nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if !user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, :class=>"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "SignUp", new_user_registration_path, :class=>"nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%# <span class="nav-link"><%= image_tag url_for(current_user.avatar), width:40, height:30 %></span> %>
              </li>
              <li class="nav-item">
                <span class="nav-link"><%= current_user.username %></span>
              </li>
              <li class="nav-item">
                <%= link_to 'Edit', edit_user_registration_path, :class=>"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class=>"nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
